DirectoryIndex index.php
Options -Indexes
RewriteEngine On
RewriteRule ^(?:_project|includes|data|locales)(?:/|$) - [F,L,NC]
RewriteRule (^|/)\.(?!well-known(?:/|$)) - [F,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ router.php [L,QSA]
